var html = "<%= escape_javascript(render(:partial => @comment))%>";
var new_comment = $(html).hide();
$('#comments').prepend(new_comment);
$(new_comment).fadeIn('slow');
$('#new_comment')[0].reset();
